body {
	background: url('../assets/bg.jpg') !important;
}

#regionSelector {
	position: relative;
	z-index: 100;
}

#regionSelector input[type="button"] {
	height: 35px;
}

#map {
	position: relative;
	top: -55px;
	z-index: 10;
	margin-bottom: -55px;
}
